* {
    overflow: visible;
}
body {
    background-color: #8ba1bb;
    font-family: arial;
}
p.categorie {
    background-color: black;
    color: white;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 8px 18px;
    font-size: 16px;
    font-weight: bold;
}
div.categorie {
    margin-top: 60px;
    margin-bottom: -18px;
}   
div.border {
    margin-left: 30px;
    margin-right: 30px;
}
div.contenu {
    background-color: white;  
    padding: 30px;
    max-width: 1600px;
    min-width: 420px;
    max-height: 1200px;        
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 25px #000000A0 
}
p.description {
    text-align: center;
    max-width: 400px;
    display: inline-block;              
}    
.centre {
    text-align: center;
    width: 100%;
} 

h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 36px;
}
div.separateur {
    background-color: black;
    width: 400px;
    height: 2px;
    margin: 0px;
    display: inline-block;
}
table.info {
    position: absolute;
    bottom: 0px;
    color: white;
    background-color:
    #6c829dc0;
    height: 80px;
    max-height: 20%;
    }
div.info {
    position: relative;
}
table.info td {
    vertical-align: top;
    font-size: 14px;
}
table.info th {
    vertical-align: bottom;
    padding-bottom: 4px;
    font-weight: bold;
}
img.info { 
    display: block;
    max-height: 700px;
    object-fit: cover;
    min-height: 300px;
    background-color: lightgray;
}
div.colonne {
    width: 45%;
    margin-top: 15px;
    padding-bottom: 20px;
    overflow: auti;
}
div.colonne h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 5px solid #6c829d;
    padding-bottom: 5px;
}
div.colonne1 {
    display: inline-block;
    margin-right: 10%;
}
div.colonne2 {
    float: right;
}
div.tableau p {
    border: lightgrey 1px solid;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
}
table.preparation td {
    vertical-align: middle;
    font-size: 14px;
}
table.preparation td.etape {
    padding-left: 15px;
}
table.preparation p {
    background-color: #6c829d;
    color: white;
    width: 25px;
    height: 25px;
    font-weight: bold;
    text-align: center;
    padding-top: 4px;
    border-radius: 50%;
    box-sizing: border-box;
    margin: 0px;
}
table.preparation tr {
    height: 40px;
}

