body {
    background-color: #8ba1bb;
    font-family: arial;
    margin: 0px
} 
div.border {
    margin: 0px 30px 0px 30px;
    padding-top: 0px;
}
div.contenu {
    background-color: white;  
    padding: 0px 30px 30px 30px;
    max-width: 950px;      
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    box-shadow: 0px 0px 25px #000000A0;
}   
p.categorie {
    background-color: black;
    color: white;
    display: inline-block;
    margin-top:-18px;
    margin-bottom: 0px;
    padding: 8px 18px;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: fit-content;
    box-shadow: 0px 0px 25px #000000A0;
}
p.description {
    text-align: center;
    max-width: 400px;
    display: inline-block;              
}    
.centre {
    text-align: center;
    width: 100%;
} 
h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 36px;
    padding-top: 30px;
}
div.separateur {
    background-color: black;
    width: 400px;
    height: 2px;
    margin: 0px;
    display: inline-block;
}
table.info {
    position: absolute;
    bottom: 0px;
    color: white;
    background-color: #6c829dc0;
    height: 80px;
    max-height: 20%;
    }
div.info {
    position: relative;
}
table.info th {
    vertical-align: bottom;
    padding-bottom: 3px;
    font-weight: bold;
}
table.info td {
    vertical-align: top;
    font-size: 14px;
    margin-top: 0px;
    padding-top: 3px;
    position: relative;   
}
div.separateur-info {
    background-color: white;
    height: 1px;
    width: 100px;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -5%
}    
img.info { 
    display: block;
    max-height: 700px;
    object-fit: cover;
    min-height: 300px;
    background-color: lightgray;
}
div.colonne {
    width: 45%;
    margin-top: 15px;
    padding-bottom: 20px;
    display: inline-block;
    overflow: auto;
    height: 100%;
}
div.colonne h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 5px solid #6c829d;
    padding-bottom: 5px;
}
div.colonne1 {
    margin-right: 10%;
}
div.colonne2 {
    float: right;
}
div.tableau p {
    border: lightgrey 1px solid;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
}
table.preparation td {
    vertical-align: middle;
    font-size: 14px;
    padding-left: 5%;
}
table.preparation td.etape {
    padding: 0 0 0 8%;
    width: 100%;
}
table.preparation p {
    background-color: #6c829d;
    color: white;
    width: 25px;
    height: 25px;
    font-weight: bold;
    text-align: center;
    padding-top: 4px;
    border-radius: 50%;
    box-sizing: border-box;
    margin: 0px;
}
table.preparation tr {
    height: 40px;
}


@media only screen and (max-width: 768px){
    /* For mobile: */
    div.border {
        margin: 0px 8px 0px 8px;
        padding-top: 0px;
    }
    div.contenu {
        background-color: white;  
        padding: 0px 10px 40px 10px;
        margin: 30px 0 15px 0;
    }
    div.separateur {
        background-color: black;
        width: 80%;
    }  
    h1 {
    font-size: 30px;
    }
    table.info {
        height: 80px;
        max-height: 20%;
        }
    table.info th {
        font-size: 14px;
    }
    table.info td {
        font-size: 12px;   
    }
    div.separateur-info {
        width: 90%;
    }    
    div.colonne {
        width: 100%;
        padding-bottom: 0px;
    }
    div.colonne1 {
        margin-right: 0;
    }
    div.colonne2 {
        float: none;
    }
    table.preparation td {
        padding-left: 5%;
    }
    table.preparation td.etape {
        padding: 0 0 0 8%;
    }
}

